.initialSpacer {
    height: 25vh;
}
.search h1 {
    padding-bottom: 1em;
}
#searchTerm {
    width: 50%;
    padding: .05em .5em;
}
.searchButton {
    padding: 0;
    outline: none;
    border: 0;
    background-color: $controlColor;
    border-radius: $borderRadius;
    margin-left: .5%;
}
.searchButton:hover {
    background-color: $controlHoverColor;
}
#searchTerm, .searchButton {
    font-size: 1.3em;
    line-height: 1.9em;
    margin-bottom: 2em;    
    vertical-align: middle;
}
.glyphicon-search {
    font-size: 1.2em;
    padding: .03em .5em;
    line-height: 1.8em;
    top: 0;
    color: #fff;
    background-color: transparent;
    vertical-align: middle;
}
